footer {
    margin-top: auto;

    background-color: #0c304e;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 25px 0;     

}

.logo {
    grid-column: 1;
    width: 50px;
    height: 50px;
}

.mensaje {
    grid-column: 2;
    color: antiquewhite;
    text-align: center;
}

