#cabecera {
    display: grid;
    grid-template-columns: min-content;
    background-color: #0c304e; 
    padding: 15px; 
    align-items: center;
}
/* 
.logo {
    grid-column: 1;
    width: 50px;
    height: 50px;
} */

.logo {
    width: 120px;
    height: 120px;
    margin-left: 20px; /* A単adido */
}

.mensaje {
    grid-column: 2;
    color: antiquewhite;
    text-align: center;
}

/* 
.btn-outline-orange {
    color: orange;
    border-color: orange;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
} */



/* Botones del fabricante */
.btn.btn-outline-fabricante {
    background-color: orange;
    /* color: orange; */
    border-color: orange;

}
.btn.btn-outline-fabricante:hover {
    color: #fff;
    background-color: rgb(173, 113, 0);
    /* border-color: orange; */
}   

/* Botones del Dise単ador */
.btn.btn-outline-dise単ador {
    background-color: rgb(234, 0, 255);
    /* color: orange; */
    border-color: rgb(234, 0, 255);

}
.btn.btn-outline-dise単ador:hover {
    color: #fff;
    background-color: rgb(158, 0, 173);
    /* border-color: orange; */
}   
