#cabecera {
    display: grid;
    grid-template-columns: min-content;
    background-color: #0c304e; 
    padding: 15px; 
    align-items: center;
}
/* 
.logo {
    grid-column: 1;
    width: 50px;
    height: 50px;
} */

.logo {
    width: 120px;
    height: 120px;
    margin-left: 20px; /* Añadido */
}

.mensaje {
    grid-column: 2;
    color: antiquewhite;
    text-align: center;
}

#contenido1 {
    display: inline-flex;
}

.art1 {
    margin-left: 15px;
}

#busqueda2 {
    display: none;
}

/* 
.btn-outline-orange {
    color: orange;
    border-color: orange;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
} */



/* Botones del fabricante */
.btn.btn-outline-fabricante {
    background-color: orange;
    /* color: orange; */
    border-color: orange;

}
.btn.btn-outline-fabricante:hover {
    color: #fff;
    background-color: rgb(173, 113, 0);
    /* border-color: orange; */
}   

/* Botones del Diseñador */
.btn.btn-outline-diseñador {
    background-color: rgb(234, 0, 255);
    /* color: orange; */
    border-color: rgb(234, 0, 255);

}
.btn.btn-outline-diseñador:hover {
    color: #fff;
    background-color: rgb(158, 0, 173);
    /* border-color: orange; */
}   

a.btn.btn-light {
    width: 140px;
    height: 64px;
    display: grid;
    justify-items: center;
}

.col-2 {
    margin-left: auto;
    width: auto;
}

.col-8 {
    width: auto;
}

.w-100 {
    margin: 0;
}

@media (max-width: 950px) {
    a.btn.btn-light {
        width: 64px;
        align-content: center;
    }

    a.btn.btn-light strong {
        display: none;
    }
    a.btn.btn-light img {
        width: 38px;
    }

    .d-flex.align-items-center.col + .d-flex.align-items-center.col {
        margin-left: 10px;
    }

    .busqueda {
        display: none;
    }
}

@media (max-width: 1055px) {
    .col-8 > div:first-child {
        display: flex;
        flex-direction: column;
    }
    .col-2 {
        align-content: center;
    }

    .btn.btn-outline-light {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: inherit !important;
    }

    .btn.btn-outline-warning {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: inherit !important;
        margin: 0;
    }
}

@media (max-width: 1400px) {
    .find {
        display: flex;
        flex-direction: row;
    }
    #busqueda1 {
        display: none;
    }
    #busqueda2 {
        display: block;
        margin: 20px auto auto;
    }
    #flexing {
        display: flex;
        flex-direction: column;
    }
}