<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body {
            background-color: blue;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/loginDesigner}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="loginDesigner">
    </form>
</body>
</html>